{% extends 'base.html' %}
{% block content %}
<script>
    var w = {{width}}, h = {{height}};
</script>
<script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
<div class='main'>

    <!--<h5>The Player is now <em>facing right</em> at <em>room (0, 0)</em></h5>-->
    <div class="win">
        <h4>Congratulations! You won!</h4>
        <a href='/'><button class='play'>Play again</button></a>
    </div>

    <div class="lose">
        <h4>Game Over!</h4>
        <a href='/'><button class='play'>Play again</button></a>
    </div>
    
    {% for i in range(height) %}

        <div class="line">
        
        {% for j in range(width) %}

            {% if i == 0 and j == 0 %}

                <div class="room curr_room" x="{{j}}" y="{{i}}"></div>

            {% else %}

                <div class="room" x="{{j}}" y="{{i}}"></div>

            {% endif %}

        {% endfor %}

        </div>

    {% endfor %}

    <div class="controls">
        <div class="left"><i data-feather="arrow-left"></i></div>
        <div>
            <div class="up"><i data-feather="arrow-up"></i></div>
            <div class="down"><i data-feather="arrow-down"></i></div>
        </div>
        <div class="right"><i data-feather="arrow-right"></i></div>
        <!--<div class="arrow"><i data-feather="chevrons-up"></i></div>-->
    </div>

    <script>
        feather.replace()
    </script>

</div>

{% endblock %}
