<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename=  'css/main.css') }}">
    <title>Tic Tac Toe</title>
</head>
<body>
    <center>
        <h1 class="title">Tic Tac Toe</h1>
        <hr>
        <hr>
        {% if draw %}
        <div>
            <h1 class="draw"> Game Drawn</h1>
        </div>
        {% endif %}
        {% if winnerFound %}
        <div>
            <h1 class="win"> WINNER is {{winner}}</h1>
        </div>
        {% endif %}
        <table>
            {% for i in range(3) %}
            <tr>
                {% for j in range(3) %}
                <td>
                    {% if game[i][j] %}
                    {{ game[i][j] }}
                    {% else %}
                    <a href="{{ url_for('play', row=i, col=j) }}"><button class="butt">Turn {{turn}}</button> </a>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <div><a href="{{url_for('reset')}}" class="btn block">Reset Game</a></div>
    </center>
</body>
</html>