body {
    background-color: #FFBF00;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    border:double;
}

td {
    border: 1px solid black;
    width: 250px;
    height: 250px;
    font-size: 50px;
    text-align: center;
}

td>a {
    font-size: 50px;
}

.butt {
    border: 1px outset blue;
    background-color: lightBlue;
    height: 250px;
    width: 250px;
    cursor: pointer;
}

.butt:hover {
    background-color: blue;
    color: white;
}

h1.draw {
    color: red;
}

h1.win {
    color: green;
}

h1.title {
    font-size: 100px;
    align-content: center;
}

h1 {
    font-size: 100px;
}

.block {
    display: block;
    width: 500px;
    border: none;
    background-color: #04AA6D;
    color: white;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}